It d.venv/
data/interim
data/models
data/mlflow
data/mlflow_exported
__pycache__/
.DS_Store
.env
.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/
.ipynb_checkpoints/
notebooks/output/
.Trash-1000/
.virtual_documents/
*.egg-info/